body {
    background-color: black;
    color: white;
}

h1, p {
    text-align: center;
}

form {
    width: 500px;
    margin: auto;
    text-align: left;
}

#name {
    border: 2px solid blue;
}

#email {
    border: 2px solid green;
}

#age {
    border: 2px solid orange;
}